/*---TYPOGRAPHY---*/

html,
body {
    font-family: 'Roboto Slab', serif;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}



#title {
    text-align: center;
    position: absolute;
    margin-left: -110px;
    margin-top: -110px;
    left: 40%;
    top: 80%;
}

#quote1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2em;
    padding: 20px;
}





/*--- STRUCTURE---*/

.logo {
    max-width: 200px;
    position: absolute;
    margin-left: -100px;
    margin-top: -100px;
    left: 50%;
    top: 38%;
}

.full_width_top {
    position: relative;
    height: 100vh;
}

.full_width {
    position: relative;
    height: 300px;
}

.content {
    margin: 2em auto;
    max-width: 40em;
    padding: 0 1em;
    position: relative;
}


/* FLEX DISPLAYS */

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.top {
    align-items: flex-start;
}

.bottom {
    align-items: flex-end;
}

#header {
    background-color: #2A2B2B;
    background-image: url(Images/UK-FLOODS/rolling-hills-landscape.png), url(https://raw.githubusercontent.com/thomass96/Sharing-Is-Caring/gh-pages/Images/UK-FLOODS/Clouds-Header.png);
    background-repeat: repeat-x;
    background-size: 80%, 100% !important;
    background-position: bottom, top;
    background-attachment: scroll, fixed;
    z-index: -4;
    position: relative;
    padding-top: .001%;
    height: 100vh;
}


/*^^^ FLEX ENDS ^^^*/

#first {
    background-color: #588527;
    background-image: url(Images/UK-FLOODS/picket-fence.png);
    background-position: bottom;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-size: 15%;
    padding-bottom: 2%;
    height: 80vh;
}

#second {
    padding-top: 40%;
}

#fourth {
    z-index: 3;
}

.circle {
    width: 450px;
    height: 450px;
    background: #fff;
    -moz-border-radius: 225px;
    -webkit-border-radius: 225px;
    border-radius: 225px;
    position: absolute;
    margin-left: -225px;
    margin-top: -225px;
    left: 50%;
    top: 50%;
    z-index: -1;
    position: relative;
}

#element1 {
    position: relative;
}

#element2 {
    position: absolute;
}

#element3 {
    position: absolute;
    top: 450px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
}

center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 13em;
    margin: -6.5em 0 0 -15em;
}

#mc_embed_signup {
    background-color: rebeccapurple;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 13em;
    margin: -6.5em 0 0 -15em;
}

content-center {
    display: flex;
    justify-content: center;
}

.text-first {
    padding: 2%;
}

.text-fourth {
    padding: 2%;
    padding-top: 40%;
    color: white;
    text-align: center;
    font-size: 7vmin;
}




/* SECTION TWO CSS */

.dark-sky {
    padding-top: 250px;
    position: fixed;
}


/* text appearing in section two - set to middle of the dark sky */

.night-sky {
    background-color: #8acbee;
    min-height: 2000px;
    background-image: url(Images/UK-FLOODS/Landscape-power-flood.png), url(https://raw.githubusercontent.com/thomass96/Sharing-Is-Caring/gh-pages/Images/UK-FLOODS/Clouds-Header.png);
    background-attachment: fixed, fixed;
    background-position: bottom left, top;
    background-size: 100%, 80%;
    background-repeat: repeat-x;
}

.section2 {
    font-size: 8vmin;
    padding: 20%;
    text-align: center;
    color: #fff;
}

.text-behind {
    padding: 2%;
    font-size: 7vmin;
}

.together {
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 8vmin;
    color: #fff;
}

#top {
    padding-top: 20%;
}

#bottom {
    padding-bottom: 20%;
}

#important {
    font-size: 20vmin;
    color: #ff0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#important2 {
    font-size: 9vmin;
    color: #e74c3c;
    padding: 0;
    display: flex;
    justify-content: center;
}

#important3 {
    font-size: 9vmin;
    color: #e74c3c;
    padding: 0;
    display: flex;
    justify-content: center;
}


/* WATER */

.svg-container {
    overflow: hidden;
}

div.bottom {
    background: #009999;
    height: 100vh;
}

svg {
    display: block;
    width: 200%;
    position: relative;
    left: 0px;
    height: 8vh;
}

svg path {
    fill: #009999;
}

#water-text-top {
    padding-top: 10%;
}

.water-text {
    z-index: 4;
    padding-bottom: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 7vmin;
}

.teddy-bear {
    z-index: 5;
    width: 400px;
    display: flex;
    position: absolute;
}

#firsttitle {
    font-size: 10vmin;
    color: white;
}


/*-- SNOW --*/

#snow {
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}


/*--waves--*/

.bottom_wave {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.app {
    height: 1000px;
}

/*--Section-four--*/ 

#fourth {
    background-color: #393F44;
    overflow: visible;
    z-index: -100;
    min-height: 300vh;
        background-image: url(Images/CONFUSED-FLOOD-TOWN.png);
    background-attachment: fixed, fixed;
    background-position: bottom right;
    background-size: 100%;
    background-repeat: no-repeat;
}

#fifth {
    background-color: #FFFFFF;
    overflow: visible;
    z-index: -100;
    min-height: 100vh;
}

.text-fifth {
    padding: 2%;
    padding-top: 50vh;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 7vmin;
}

.fade {
  background-color: white;
  opacity: 1;
}

.banner {
  /* this bit of markup is essential */
  position: relative;
  overflow: hidden;

  /* do this shit by yourself */
  background: rgba(0, 0, 0, .5) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=');
  color: #fff;
  font-size: 7vmin;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  height: 390vh;
  letter-spacing: 2px;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.text-full-height {
    height: 100vh;
    font-size: 7vmin;
}

#sixth {
    background-attachment: fixed;
    height: 390vh;
}

#video {
    background-attachment: fixed;
}

.fixed {
    position: fixed;
}

.full-screen-video
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1000;
        width: 150%;
    height: 150%;
}

.full-screen-video video {
    position: absolute;
    top: 0;
    left: 0;
/*     width: 100%; */
    height: 100%;
}


.text-sixth {
    font-size: 7vmin;
    text-align:re center;
}

.seventh {
    background-color: white;
    height: 60vh;
}

.text-seventh 
{
      padding: 2%;
    padding-top: 15vh;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 7vmin;
    
}

.eighth {
    height: 140vh;
    background-color: #EEEEEE;
    overflow:auto;

}

.last {
   padding-bottom: 30%;
}

.text-eighth{
    padding: 2%;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 5vmin;
    background-color: transparent;
    font-weight: 300; 
}

.text-eighth-title{
    text-decoration: underline;
    padding: 2%;
    padding-top: 5vh;
    padding-bottom: 5%;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 5vmin;
    background-color: transparent;
 
}


.h1 {
    padding-left: 20%;
    padding-top: 20%;
}

#BRC {
    width: 600px;
   display: block;
    margin: auto;

    
}

#SVA {
    width: 300px;
       display: block;
    margin: auto;
    

}

.left {
 @include vertical-align();
   
}

.right {
    
@include vertical-align();
   
}

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.zoom-tilt {
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -ms-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}

.zoom-tilt:hover {
  -webkit-transform:rotate(15deg) scale(1.3);
  -moz-transform:rotate(15deg) scale(1.3);
  -ms-transform:rotate(15deg) scale(1.3);
  -o-transform:rotate(15deg) scale(1.3);
  transform:rotate(15deg) scale(1.3);
}

.zoom-tilt2 {
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -ms-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}

.zoom-tilt2:hover {
  -webkit-transform:rotate(-15deg) scale(1.3);
  -moz-transform:rotate(-15deg) scale(1.3);
  -ms-transform:rotate(-15deg) scale(1.3);
  -o-transform:rotate(-15deg) scale(1.3);
  transform:rotate(-15deg) scale(1.3);
}

#crown {
    width: 300px;
     display: block;
    margin: auto;
    

}

.float {
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.float:hover {
  -webkit-transform:translate(0px,-10px);
  -moz-transform:translate(0px,-10px);
  -ms-transform:translate(0px,-10px);
  -o-transform:translate(0px,-10px);
  transform:translate(0px,-10px);
}

.footer {
    display: block;
    background-color: black;
    color: white;
    height: 10vh;
    margin: auto;
    text-align: center;
    float: left;
}

.tm-logo {
    display:block;
    margin:auto;
    width: 20%;
}

.fade-out {
  -webkit-transition:opacity .5s ease-out;
  -moz-transition:opacity .5s ease-out;
  -ms-transition:opacity .5s ease-out;
  -o-transition:opacity .5s ease-out;
  transition:opacity .5s ease-out;
}

.fade-out:hover {
  opacity:0.2;
}